.btn {
    font-size: 1rem;
    font-family: Play;
    color: #FFFFFF;
    text-decoration: none;
    padding: 1.125rem 2.5625rem;
    border-radius: 100px;
    line-height: 1;
    border: none;
    cursor: pointer;

    @include tablets {
        padding: 1.500rem 2.9rem;
    }
}

.btn--theme--red {
    text-transform: uppercase;
    font-weight: bold;
    background: #E01F3D;

    &:hover {
        background: #CA1B36;
        transition: .3s;
    }
}

.btn--theme--transparent {
    background: transparent;
    color: #666;

    &:hover {
        color: #fff;
        transition: .3s;
    }

}