.fixed-menu {
    position: fixed;
    top: 20%;
    right: 3%;
    z-index: $z-fixed-menu;

    @include tablets {
        display: none;
    }
}

.fixed-menu__item {
    margin-bottom: 0.3125rem;

    &--active {
        .fixed-menu__link {
            border-color: #E01F3D;
        }
    }
}

.fixed-menu__link:hover {
    border: 0.0625rem solid;
    border-color: #E01F3D;
}

.fixed-menu__link:hover::before {
    background: #E01F3D;
}

.fixed-menu__item--active .fixed-menu__link:before {
    background: #E01F3D;
}

.fixed-menu__link {
    width: 1rem;
    height: 1rem;
    border-radius: 50%;
    border: 0.0625rem solid transparent;
    display: block;
    position: relative;

    &:before {
        content: "";
        display: block;
        width: 0.375rem;
        height: 0.375rem;
        border-radius: 50%;
        background: #292929;
        opacity: 0.6;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); 
    }
}

.fixed-menu__link--shadowed {
    .fixed-menu__item {
        .fixed-menu__link {
            &:before {
                background: #d9d7d7;
            }
        }
    }
    .fixed-menu__item--active {
        .fixed-menu__link {
            border-color: #820d1f;
            &:before {
                background: #820d1f;
            }
            
        }
    }
}
